<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="/style.css" rel="stylesheet" media="all">
  <title>BarberShop</title>
</head>
<body>
  <h2>Welcome to Barbershop<h1>
  
      <h3>We are open</h3>
  
      <form method="post" action="/">
        <table border="1px">
          <tr>
            <td><label for="name"><b>Your Name:</b></label></td>
            <td><input type="text" name="name"></td>
          </tr>
          <tr>
            <td><label for="phone_number"><b>Phone number:</b></label></td>
            <td><input type="text" name="phone_number"></td>
          </tr>
          <tr>
            <td><label for="date_time"><b>Date and Time:</b></label></td>
            <td><input type="text" name="date_time"></td>
          </tr>
          <tr>
            <td colspan="2"><input type="submit"></td>
          </tr>
        </table>
      </form>

</body>
</html>


